#root {
  text-align: center;
}

/* TODO fix this with google maps */
.mapBg {
  display: flex;
  flex-direction: column;
  background-color: green;
  width: 100vw;
  height: 100vh;
}

.contents {
  max-width: 1280px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 56px;
  background-color: transparent;
  align-self: center;
}

.header {
  display: flex;
  border-radius: 6px;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
  padding: 24px;
}