{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
} 